{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class = "row">
        <div class = "col-lg-5">
            <form method="post" action="{% url 'App_Userpage:user_update_view' user.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email">사용자 Email</label>
                    <input type="email" class="form-control" name="email" id="email"
                           value="{{ user.email }}" readonly="true">
                </div>
                <div class="mb-3">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" name="name" id="name"
                    value="{{ user.name }}">
                </div>
                <div class="mb-3">
                    <label for="phone_number">전화번호</label>
                    <input type="tel" class="form-control" name="phone_number" id="phone_number"
                           value="{{ user.phone_number }}">
                </div>
                <button type="submit" name = "action" value="save" style="width:100%; height:35px;" class="btn btn-sm text-light bg-dark mb-3">수정 완료</button>
            </form>
        </div>
        <div class="col-lg-4">
            {% include "form_errors.html" %}
        </div>
    </div>      
</div>
{% endblock %}