{% extends "base.html" %}
{% block content %}
<div class="container" width="10px">
    <h1 class="mt-4">장고란</h1>
    <p>장고(Django, FAQ 발음으로는 "쟁고"는 파이썬으로 작성된 오픈 소스 웹 프레임워크로, 모델-뷰-컨트롤러(MVC) 패턴을 따르고 있다. </p>
    <p>현재는 장고 소프트웨어 재단에 의해 관리되고 있다.</p>
    <p>고도의 데이터베이스 기반 웹사이트를 작성하는 데 있어서 수고를 더는 것이 장고의 주된 목표이다. </p>
    <p>장고는 콤포넌트의 재사용성(reusability)과 플러그인화 가능성(pluggability), 빠른 개발 등을 강조하고 있다. 
    <p>또한, "DRY(Don't repeat yourself: 중복배제)" 원리를 따랐다. 설정 파일부터 데이터 모델에까지 파이썬 언어가 구석구석에 쓰였다.</p>
    <p>인스타그램, NASA, 빗버킷, Disqus, 모질라에서 장고를 사용하는 것으로 알려져있다.</p>      
</div>
{% endblock %}