{% extends "base.html" %}
{% block content %}
<h5 class="border-bottom pb-2 mb-3">{{select_category.name}} > {{select_post.post_name}}</h5>
<div style="padding-inline: 5%; padding-top: 2%;">
    <div class="pb-3 mb-0 border-bottom border-secondary font-weight-bold">
        <table width="100%">
        <tr>
            <td width="48%"><h5>{{select_post.post_name}}</h5></td>
            <td width="10" style="font-size:0.75em">조회수 : {{select_post.post_views_counting}}</td>
            <td width="17%" style="font-size:0.75em">작성자 : {{select_post.post_author.company}}({{select_post.post_author.name}})</td>
            <td width="25%" style="font-size:0.75em">
                <small>< 개시 : {{select_post.created_date}}></small>
                {% if select_post.updated_date != select_post.created_date%}
                <br><small>< 수정 : {{select_post.updated_date}}></small>
                {% endif %}
            </td>
        </tr>
        </table>
    </div>
    <div class="mt-3 mark-content" style="margin: 5%;">{{select_post.post_content|linebreaks}}</div>
    {% comment %} 이미지 추가 {% endcomment %}
    {% for image in select_post.photo_set.all %}
        <img src = "{{image.image.url }}" width="300"><br>
    {% endfor %}

    {% if messages %}
    {% for message in messages %}
        <div class="row" style="margin:20px auto;">
        <div class="col-sm-12">
            <div class="alert alert-danger">
            <strong>{{ message.tags }}!</strong> {{ message.message }}
            </div>
        </div>
        </div>
    {% endfor %}
    {% endif %}
    {% if request.user.company == select_post.post_author.company or request.user.is_admin %}
    <table width="100%" class="border-top pb-2 mb-3">
        <tr>
            <td width="78%"></td>
            <td width="11%">
                <a href="{% url 'App_Board:post_update_view' select_post.id  %}" class="btn btn-sm text-light bg-dark">게시물 수정</a>
            </td>
            <td width="11%">
                <a href="{% url 'App_Board:post_delete_view' select_post.id  %}" class="btn btn-sm text-light bg-dark">게시물 삭제</a>
            </td>
        </tr>
    </table>
    {%endif%}
    
    <!-- File Section Start -->
    {% if request.user.company == select_post.post_author.company or request.user.company == 'admin' or select_post.category.name == "공지사항"%} 
    <table class="table table-sm table-hover">
        <thead>
        <tr class="text-center">
            <th style="width:50%">문서명</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody class="text-center">
            {% for file in select_post.files_set.all %}
            <tr>
                <td>
                    <a href="{% url 'App_Board:file_download' file.id %}">
                        {{file.get_filename}}
                    </a>
                    <small>
                        [{{file.get_filesize}}]
                    </small>
                </td>
                <td>{{file.user}}</td>
                <td>{{file.get_filecreatetime}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}
    <!-- File Section End -->

    <!-- Edit log Section Start -->
    {% if request.user.company == select_post.post_author.company or request.user.is_admin %}
    <table class="table table-sm table-hover">
        <thead>
        <tr class="text-center">
            <th style="width:30%">수정자</th>
            <th>수정 날짜</th>
        </tr>
        </thead>

        <tbody class="text-center">
            {% for editlog in select_post.editlogs.all reversed %}
            <tr>
                <td>{{editlog.editor}}</td>
                <td>{{editlog.edit_date}}</td>
                <td>수정</td>
            </tr>
            {% endfor%}
            <tr>
                <td>{{select_post.post_author.name}}</td>
                <td>{{select_post.created_date}}</td>
                <td>작성</td>
            </tr>
        </tbody>
    </table>
    <!-- Edit log Section End -->
    {% endif %}
</div>
{% endblock %}
