<!-- 필드 오류와 넌필드 오류를 출력한다. -->
{% if form.errors %}
<div class="alert alert-danger">
    {% for field in form %}
    <!-- 필드 오류 -->
        {% if field.errors %}
        <div>
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if error %}
<br>
<div class="alert alert-danger">
    <strong>{{ error }}</strong>
</div>
{% elif info %}
<br>
<div class="alert alert-info">
    <strong>{{ info }}</strong>
</div>
{% elif success%}
<br>
<div class="alert alert-success">
    <strong>{{ success }}</strong>
</div>
{% endif %}